$backgroundcolor: #e0e0e0;
$color: #0e388c;
$color1: #fff;
$buttoncolor: #66b72c;
$borderi:#9bdc6d;
$post: #000;
$postheader: #f6f7f9;
$postfooter: #fbfbfb;
$colorstar: #3e9aef;
$tool: #4e67c8;
$colortab:#7A7A7A;
$clockcolor:#ebebeb;
$backgroundclock:#f6f7f9;

$boxmmtcolor:  #c0504e;
$boxmmtcolor1: #e6a2a1;
$boxmmtcolor2: #ffd1d1;
$boxfontcolor: red;

$family: Source Sans Pro, sans-serif;
$logosize: 1.8em;
$lsize: 1.6em;
$csize: 1.4em;
$wsize: 1.2em;
$menusize: 1.1em;
$usize: 1em;
$ssize: 0.93em;
$mesize:0.7em;
$err:0.5em;
$menumobile:3em;