@import "variables";
@import "mixins";

html,body{
    height: auto !important;
    min-height: 100vh !important;
    background-color: $backgroundcolor;
}

a:hover {
    cursor: pointer;
}

hr {
    margin-bottom: 5px;
    margin-top: 5px;
}

/*Barra alta*/

.fa-list-ul{
    display:none;
}

#header {
    background-color: $color;
    height: 4.68em;
    margin-left:-1%;
    margin-right:-0.8%;
}

.text1{
    margin: 2% 0 0 3%;
}

#textlogo {
    color: $color1;
    font-size: $logosize;
    float: left;
    margin: 1.5% 3%;
}

.imglogo {
    margin-top: -4%;
}

/*sos*/
#sos {
    cursor: pointer;
    width: 10%;
}

.error {
    font-size: $menusize;
    font-weight: bold;
    color: darken($boxfontcolor, 10);
    margin-bottom: 3%;
    margin-top: 0;
    text-align: center;
}

.navbarmobile{
    display:none;
} 

/*Menù*/
.menu {
    background-color: $color1;
    height: 3.5em;
    text-align: center;
    padding: 1% 0;
}

.menu li {
    color: $color;
    font-size: $menusize;
    display: inline-block;
    font-weight: bold;
    display: inline;
    margin: 0;
    padding: 0;
}

.menu li a {
    color: $color;
    text-decoration: none;
    padding: 1.5% 2% 1.2%;
}

.menu a:hover {
    color: $color;
    border-bottom: 2px solid $color;
}

/*Menù mobile*/
.menumobile {
    background-color: $color;
    }

.menumobile li {
    list-style: none;
    color: $color1;
    font-size: $menusize;
    font-weight: bold;
    padding: 4.5% 0 2.2%;
    margin-left:-10%;
    text-align: left;
    }

.menumobile li:hover {
        padding-left:2%;
    }

.menumobile li a {
    color: $color1;
    text-decoration: none;
}

.menumobile a:hover {
    border-bottom: 2px solid $color1;
    font-style: italic;
   }

.mobileicone{

}


/* Contenitore sidebar*/
.col-xs-4 {
    background-color:trasparent;
   }

.boxwho {
    background-color: $color;
    height: 11em;
}

.infoboxwho {
    float: right;
    height: 6%;
    text-align: left;
    width: 57%;
    margin-top: 6%;
}

.info {
    color: $color1 !important;
    font-size: $wsize;
    font-weight: bold;
    margin: 7% 1%;
    white-space: normal;
    display: inline;
}

.info a{
    color: $color1 !important;
}

.info a:hover{
    font-style: italic;
    text-decoration:none;
}

.info1 {
    color: $color1;
    font-size: $usize;
    white-space: normal;
}

.boxinfo {
    background-color: $color1;
    margin: 5% auto;
    font-size: $ssize;
    padding: 0;
}

.boxinfo a {
    color: $color;
    font-size: $ssize;
    margin: 0 0 0 3%;
}

.boxinfo a:active,
.boxinfo a:focus {
    /*text-decoration: underline !important;*/
    font-weight: bold !important;
}

.boxinfoheader {
    background-color: $color;
    color: $color1;
    position: relative;
    height: 3.5em;
    padding: 4%;
    font-size: $ssize;
    text-transform: uppercase;
}

/*Immagine profilo*/
img {
    max-height: 100%;
    max-width: 100%;
}

.post-author {
    color: $color;
    font-size: $ssize;
    font-weight: bold;
}

.img-profile-box {
    float: left;
    @include border-radius(50%);
    height: 10em;
    margin: 2% 0 0 1%;
    width: 40%;
}


/*Contenitore contenuto*/
.col-xs-8 {
    background:trasparent;
    }

.user-box {
    margin: 0% 0 3%;
}

.header-box {
    background-color: $postheader;
    padding: 2%;
    box-shadow: 1px 5px 4px darken($backgroundcolor, 20);
}

.body-box {
    background-color: $color1;
    padding: 3%;
    box-shadow: 1px 5px 4px darken($backgroundcolor, 20);
}

.footer-box {
    background-color: $postfooter;
    border-top: 1px solid darken($postheader, 20);
    height: 5em;
    text-align: center;
    box-shadow: 1px 5px 4px darken($backgroundcolor, 20);
    margin-bottom: 5%;
}

.footer-box1{
    text-align: center;
    //margin-top:20%;
}

.row{
    margin-left: -15px;
    margin-right: -15px;
    }

/*Liste*/
.generalinfo {
    font-size: 0.93em;
    list-style-type: none;
    margin: -7% 0 0;
}

/*Bottone*/
.btn{
    background-color: $buttoncolor !important;
    color: $color1 !important;
    @include border-radius(2px);
    border: 0px solid transparent !important;
    margin:0 auto !important;
    margin-top:2% !important;
    }

.btn1{
    background-color: $buttoncolor !important;
    color: $color1 !important;
    @include border-radius(2px);
    border: 0px solid transparent !important;
    margin:0 auto !important;
    margin-top:-4% !important;
    float:right;
    padding:1%;
    }

.btnload{
    background-color: $buttoncolor !important;
    color: $color1 !important;
    @include border-radius(2px);
    border: 0px solid transparent !important;
    margin:0 auto !important;
    margin-top:2% !important;
    display:block !important;
    padding:0.5% !important;
    }

.btnp{
    background-color: $buttoncolor;
    color: $color1;
    @include border-radius(2px);
    border: 0px solid transparent;
    margin:2% auto 0 2%;
    padding: 1%;
    }

.btnallarme{
    background-color: $buttoncolor !important;
    color: $color1 !important;
    @include border-radius(2px);
    border: 0px solid transparent !important;
    float:right;
    margin-top:-4%;
    margin-bottom: 2%;
    padding:1%;
}

.btnmargin{
    /*margin-top:10.5% !important;*/
    margin-top:3.5% !important;
}

.email{
    margin-bottom:4% !important;
}

.dosaget{
    width: auto !important;
}

.btn:hover,
.btn1:hover,
.btnpost:hover,
.btnp:hover,
.btnsmall:hover,
.btnload:hover,
.btnallarme:hover{
    color:$color1 !important;
    text-shadow: 1px 1px 1px darken($buttoncolor, 30) !important;
}

.btnsmall {
    background-color: $buttoncolor;
    border: 0 solid transparent;
    border-radius: 2px;
    color: $color1;
    cursor: pointer;
    float: left;
    margin: 0 1%;
}
#active{
    height: 3vh;
    margin-top: 4%;
}

.btnmymedtag{
    background-color: transparent;
    border: 0 solid transparent;
    cursor: pointer;
    width:11%;
}

.listgroup {
    margin: 2% 0 0;
    list-style-type: none;
    /*border: 1px solid $clockcolor;*/
    margin-left:1%;
    text-align: center;
}

/*bottone cestino*/

.btnsmall.md-button.md-default-theme:hover:not([disabled]),
.btnsmall.md-button:hover:not([disabled]){
    background-color: $colortab !important;
    }

/*bottone salva-dialog*/
.footer-box1 .btn.md-button:hover{
    background-color: $buttoncolor !important;
}

.footer-box1 .btn.md-button{
    background-color: $buttoncolor !important;
    margin:0 auto !important;
    margin-top:2% !important;
    padding:1.5%;
}   

summary{
    margin-top:-3%;
}

/*Font-awesome*/

.fa-question-circle {
    cursor: pointer;
    font-size: $csize !important;
    }

.fa-question-circle:hover {
    color: $buttoncolor;
    }

.fa-info-circle {
    color: darken($backgroundcolor, 5);
    padding: 0 1%;
    margin: 2%;
    }

.fa-check {
    color: darken($backgroundcolor, 5);
    padding: 4% 2% 6%;
    }   

.fa-user-secret {
    color: darken($backgroundcolor, 5);
    padding: 0 2% 5% 2%;
    }    

.sidebar-fa {
    font-size: $csize !important;
}    
.fa-pencil-square-o {
    color: $color;
    padding: 0 1%;
    font-size: $csize !important;
    margin: 2% 0 0;
}

/*icona modifica e cancella -modale*/
.fa-pencil-square{
    color:$colortab;
    font-size: $logosize !important;
    cursor: pointer;
    /*float:left;
    margin-top: -2.7%;
    margin-left:2.3%;*/
   /* left: 3%;
    position: fixed;
    top: 1.1%;*/
}

.fa-trash{
   font-size: $logosize !important;
    color:$colortab !important;
   cursor: pointer;
   padding: 0.5%;
}

/*pulsante chiusura modale*/
.md-button.md-icon-button{
    float:right;
}

.fa-times{
   margin-top: 19% !important;
}

.fa-camera{
    font-size: $wsize !important;
    color:darken($color1,10);
    position:relative;
    left:-20px;
    top:63px;
    cursor: pointer;
}

.fa-camera:hover{
    color:$color1;
}
.fa-plus-circle{
    font-size:$csize !important;
}

.fa-plus-circle:hover{
    color:$colortab;
}

.fa-wpforms{
    color:$post;
    float: left;
    font-size: 1.5em !important;
}



#changecolor{
    color:darken($backgroundcolor,20%);
    }

.md-fab-action-item{
    padding:2%;
}    

.md-button.md-fab .md-ripple-container {
    background-clip: padding-box;
    border-radius: 0;
    overflow: hidden;
}


/*Nuovo post*/

.box {
    background-color:$color1;
    box-shadow: 1px 5px 4px darken($backgroundcolor,20);
    margin: 0 0 3%;
}

.post-header {
    background-color: $postheader;
    color: $post;
    font-size: $ssize;
    font-weight: bold;
    padding: 1%;
}

.post-body {
    background-color: $color1;
}

.post-footer {
    background-color: $postfooter;
}

#post-textarea {
    border: 1px solid transparent;
    height: 5em;
    margin: 1% 0 2% 9%;
    resize: none;
    width: 85%;
}

.btnpost{
    background-color: $buttoncolor;
    color: $color1;
    @include border-radius(2px);
    border: 0px solid transparent;
    left: 86%;
    margin: 2% auto;
    padding: 1%;
    position: relative;
    }

/*Vecchio post*/

.post-container .post-header {
    background-color: $postheader;
    color: $post;
    font-size: $ssize;
    padding: 1%;
    height: 5em;
}

.post-container .post-body {
    background-color: $color1;
    color: $post;
    font-size: $ssize;
    padding: 2%;
}

.post-container .post-footer1 {
    background-color: $postfooter;
    border-top: 1px solid darken($postfooter, 15);
    clear: both;
}

.post-footer1 .fa-camera {
    cursor: pointer;
    left: -3%;
    position: relative;
    color: darken($backgroundcolor, 30);
    font-size: $ssize;
}

.post-author {
    color: $color;
    font-size: $ssize;
    font-weight: bold;
}

.post-date {
    font-size: $ssize;
    color: darken($backgroundcolor, 40);
    margin-top: 1%;
    margin-left:1%;
}

/*Commenti*/

.post-comments .box {
    box-shadow: 0px 0px 0px $color1 !important;
    background-color: trasparent !important;
}

.post-comments .post-header {
    background-color: $color1 !important;
    float: left;
    height: 3em;
}

.post-comments .post-body {
    background-color: transparent !important;
    color: $post;
    font-weight: normal !important;
    float: left;
    height: 3em;
    margin-top: -1%;
}

.post-comments .post-footer {
    background-color: transparent !important;
    padding: 1%;
    clear: left;
    padding: 0 0 2% 1%;
    border-bottom: 1px solid $backgroundcolor;
}

.post-comments .post-date {
    margin: 0 8%;
}

.post-footer1 input {
    border: 2px solid $postfooter;
    cursor: pointer;
    height: 2em;
    margin: 2% 0 3% 6%;
    width: 90%;
}

/*Tabs*/

md-tabs[md-border-bottom] md-tabs-wrapper{
    border-style: none !important;
}

md-tabs-canvas.md-paginated {
    margin: 0 0 !important;
}

md-tabs-wrapper md-prev-button {
    left: -9px !important;
}

md-tabs-wrapper md-next-button {
    right: -9px !important;
}


.md-padding{
    background: $color1;
    width: 100% !important;
}

md-tabs{
     @include border-radius(0px);
      border-radius: 0;
      height: 30em !important;
}

.md-tab {
    background:darken($postheader,5) !important;
    padding: 12px 23px !important; /*per il problema tabs in firefox*/
    /*float:none in caso non dovesse bastare quello sopra*/
}

md-tabs.md-default-theme.md-accent > md-tabs-wrapper, md-tabs.md-accent > md-tabs-wrapper{
    background:darken($postheader,5) !important;
    white-space: nowrap;

}

#profilo md-tabs-wrapper {
     background:darken($postheader,5) !important;
     /*width: 94%;*/
     /*margin-left:2%;
     margin-right: 10%;*/
     margin-left: 5.5%;
     margin-right: 7%;
     width: 89%
}

#profilo md-tabs-content-wrapper {
    margin-left: 2%;
    width: 92.6%;
}

md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-active:not([disabled]), md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-active:not([disabled]), md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-active:not([disabled]) md-icon, md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-active:not([disabled]) md-icon, md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-focused:not([disabled]), md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-focused:not([disabled]), md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-focused:not([disabled]) md-icon, md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-focused:not([disabled]) md-icon{
    color:$color;
}

md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]),
md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]){
    color:$colortab;
}

md-tabs-wrapper md-prev-button.md-disabled, md-tabs-wrapper md-next-button.md-disabled{
    opacity: 0.9 !important;
}

md-tabs-content-wrapper {
    margin-left: -3%;
    width: 103%;
}

.therapie_container md-tabs-content-wrapper{
    overflow-y: auto !important;
    height: 91% !important;
}

/*TAB EditProfile*/

#editprofile md-tabs-content-wrapper {
    margin-left: -2.5%;
    width: 102%;
}

#editprofile md-tabs-wrapper {
     margin-left: -0.5%;
     width: 100%
}


/*Modale*/

.modal {
    left: 21% !important;
    right: 21% !important;
    top: 10% !important;
    }

.modal-content{
    @include border-radius(0px);
}    

.modal-header{
    background: $postheader;
}


/*Tooltip*/

.md-button{
    margin: 0% !important;
    min-height: 0% !important;
    min-width: 0% !important;
    line-height: 20px;
    text-transform: none;
    cursor: pointer !important;
    }


.md-button.md-default-theme:hover:not([disabled]),
.md-button:hover:not([disabled]){
    background-color: transparent !important;
    }

md-tooltip.md-default-theme .md-content, md-tooltip .md-content{
    background: $post;
    font-size: $csize;
    padding: 1%;
    white-space:normal;
   }

md-tooltip .md-content{
    height: 100%;
    width: 60%;
    }

md-tooltip .md-content.md-show, md-tooltip .md-content.md-show-add-active{
    opacity: 0.8;
    @include border-radius(5px);
    }  
  

/*Dialog*/

.infosel{
    margin-left:4%;
    margin-top: 5%;
}

label {
    margin: 4% 0% 1% 0% !important;
    display: inherit !important;
}

.inputregistrazione{
    width: 90% !important;
}

._md-datepicker-floating-label._md-datepicker-has-calendar-icon > label:not(.md-no-float):not(.md-container-ignore){
    left:0 !important;
}

md-input-container label:not(.md-no-float):not(.md-container-ignore),
md-input-container .md-placeholder{
    color:$colortab !important;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
    background-color:$color !important;
    }

md-dialog{
   /* margin-top:-16% !important;*/
    max-width: 80% !important;
    width: 70% !important
}


md-dialog.md-transition-in{
    transform: translate(0px, -20px) scale(1) !important;
}

md-dialog.md-default-theme, md-dialog{
     @include border-radius(0px);
    }

md-input-container {
    display: block !important;
    margin-bottom: -2% !important;
}

.login{
    margin-left: 6% !important;
    margin-top:5% !important;
}

md-input-container label:not(.md-container-ignore) {
    position: relative !important;
    bottom:0% !important;
}

md-input-container .md-input{
   /* width: 95% !important;*/
    background: lighten($backgroundcolor,9);
}

select {
    margin-top: 3% !important;
    width: 100%;
    margin-bottom: 4% !important;
}

.privacyselect{
    width:50% !important;
    margin-bottom: 2% !important;
    margin-top: 1%;
}

md-input-container.md-input-focused label:not(.md-no-float),
md-input-container.md-input-has-placeholder label:not(.md-no-float),
md-input-container.md-input-has-value label:not(.md-no-float){
    transform: none !important;
    transition: none !important;
}


input[type="checkbox"] {
    /*left: -22%;*/
    position: absolute;
    display: inline-flex;

}

.tabcheckbox{
    top: 19% !important;
    height: 59% !important;
    left: -36% !important;
}


.savercheckbox{
    height: 4% !important;
    margin: 1% 0% 0% 26% !important;
}

#salvavita, #attiva, #notifica {
    height:30% !important;
}

.mymedtagdialog{
   /* margin-top: -40% !important;*/
    width: 16% !important;
    overflow: auto !important;
}

/*immagine del profilo nel salvavita*/
.imgsalvavita{
    margin: 5% 15px 0 1%;
}

.imgmymedtag{
    width: 12%;
    height: 3em;
}

.imgmymedtagapp{
    width:8% !important;
    height:10em !important;
    margin:1% !important;
}

/*mymedtag*/

/*Tooltip speciale*/
#helpmymedtag{
    cursor:default;
    float:right;
}


#sosnotifica{
    width: 10%;
    float: right;
    margin: -2% -2% 0 0;
}

/*posizione logo e checkbox in fase di registrazione*/
.mymedtag-add-reg{
    display: inline;
    left: 95% !important;
    position: relative;
    /*vertical-align: middle;
    top: 30%;*/
    bottom:60% !important;
}

.soslogo-reg{
    float: right;
    margin: -2.5% 5.5% 0 0;
    width: 3.5%;
}





/*posizione logo e checkbox nella modifica*/
.soslogo-edit {
    float: right;
    margin: -0.5% 5.5% 0 0;
    width: 4.5%;
    }

.mymedtag-add-edit{
    display: inline;
    left: 95% !important;
    position: relative;
    /*vertical-align: middle;
    top: 30%;*/
    bottom:60% !important;
}

.tabcheckbox-edit{
    margin: 0 0 0 !important;
}

 /*posizione checkbox sos*/
.mymedtag-add {
    display: inline-block;
    left: 7.5%;
    position: relative;
    top: -12%;
    vertical-align: middle;
}

.soslogo {
    float: right;
    margin: -1% 1% 0 0;
    width: 3.5%;
}

/*Lista e voci profilo*/

.titlebold {
    color:$color;
    display: inline;
    font-weight: bold;
    line-height: 2.5em;
}

.generalinfo-profile {
    font-size: 1em;
    list-style-type: none;
    /*margin: 2% auto 0;*/
    margin:2% 6% 2% 2%;
}

md-content{
    display: inline !important;
    }


/*Form*/

md-input-container label:not(.md-no-float):not(.md-container-ignore), md-input-container .md-placeholder{
    margin-top:-2%;
}


md-input-container{
    display: inline-block !important;
    width: 85% !important;
    /*margin-bottom: -7% !important;
    margin-top: -15% !important;*/
}

md-input-container label:not(.md-container-ignore){
    position:relative !important;
    
}

.body-box1{
    background-color: $color1;
    padding: 3%;
    margin-top: -3%;
    font-size:$usize;
    }

.uploadfile {
    margin-bottom: 7%;
    margin-top: 5%;
}

.chooseprivacy input[type="radio"] {
    height: 0 !important;
    margin: 1% 0 2% 1%;
    width: 5%;
}

input[type="radio"] {
    margin: 0% 2% 0;
}
.chooseprivacy {
    display: inline;
}

.therapybtn {
    display: inline-flex;
    margin: 3% 10% -1% -3%;
    }

.dosage{
    list-style-type: none;
}

/*barra*/
.user {
    font-size: $usize !important;
    padding-top: 1.2%;
    position: absolute;
    right: 20%;
    top: 0;
    white-space: nowrap;
}

.user a {
    cursor: pointer;
    color: $postheader;
    margin: 0 5% 0 0;
}

.user .ng-binding {
    color: $color1;
    font-weight: bold;
    display: inline;
}

.user .ng-binding a {
    margin: 1%;
}

.fa-sign-out,
.fa-sign-in {
    font-size: $wsize;
    margin: 2.5% 0 0;
}

.fa-envelope {
    margin: 2.5% 0 0;
}

.fa-chevron-right{
    color: darken($backgroundcolor, 5);
}

/*per registrazione,login e smarrimento password*/
.col-xs-7 {
    float: none;
    margin:3% auto 0;
    width: 45%;
    }

.removespace{
    margin-bottom:-10% !important;
}

.checkprivacy {
    position: absolute;
    top: 7% !important;
    height:30% !important;
}

/*Form Login*/

.loginuser {
   background: $color1;
   box-shadow: 1px 1px 2px darken($backgroundcolor, 20);
   border-top: 1px solid darken($postfooter, 15);
}

.lfooter{
    background-color: $postheader;
    color: $colorstar;
    text-align: center;
    margin: 20px -8px -8px;
    }

.md-display-1 {
    background: $postheader;
    color: $post;
    font-size: $lsize;
    font-weight: 400;
    line-height: 40px;
    padding: 4%;
    text-align: center;
    margin-top:0%;
}
   
.layout-fill{
    background: $color1 !important;
}

#login a{ 
    font-size:$ssize;
}

#alink{
    font-size:$ssize;
    color: $colorstar;
    text-align: center;
    text-transform: none !important;
}

#alink:hover{
    text-decoration: underline;
}

.md-required{
    margin-top:5%;
}

.login1 {
    padding: 4% 0 1% 1%;
}

  .spancolor{
      color:$post;
  }


.divmtmedtag {
    margin-bottom: 3%;
    margin-top: 0;
    text-align: center;
    z-index: 101;
}

.errorpwd{
    font-size:$mesize;
}

.errorpwd1{
    margin-left:35%;
}

/*privacy*/
.privacybox {
   /* border: 1px solid darken($postheader, 5);*/
    margin-bottom: 5%;
}

.list {
    color: $post;
    font-weight: bold;
    margin-top: 5%;
    list-style: outside none none;
}

.chooseprivacy {
    margin: 0 !important;
    margin-top: 2% !important;
}

.chooseprivacy input[type="radio"] {
    margin: 1% 0 2% 1%;
    width: 5%;
    height: 0! important;
}

md-radio-button{
    display:inline !important;
}

.md-select-value{
    min-width: 150px;
}


/*Cerca*/

#search {
    margin-left: 30%;
    padding: 1.7% 0 1% 1%;
}

#search input {
    @include border-radius(1px);
    border: 0px solid transparent;
    width: 40%;
}

.fa-search {
    color: darken($backgroundcolor, 10);
    position: absolute;
    right: 0;
    top: 5%;
    width: 44%;
}

.user-search-results {
    position: absolute;
    width: 23em;
    background: $postheader;
    list-style-type: none;
}

.legenda{
    font-weight: bold;
}

/*mobile menu*/

.menumobile{
    display:none;
}

.mobile{
    display:none;
}

.mobileicone {
    display:none;
}

/*Calendario boxinfo*/
.calendar-menu .fc-toolbar{
    display:none;
}

#boxcalendar a{
    font-size:0.35em;
    color: transparent;
    cursor: pointer;
}

.boxinfo .fc-view-container{
    margin: 5%;
    padding-bottom: 5%;
    width: 90%;
}
.boxinfo .fc-head{
    background:$buttoncolor;
    color:$color1;
}

.fc-row .fc-content-skeleton td, .fc-row .fc-helper-skeleton td{
     border-color: transparent lightgray !important;
}

/*.boxinfo .fc-row{
    //height:18px !important;
}

.boxinfo .fc-week .fc-widget-content{
    //height:18px !important;
}

.boxinfo .fc-day-grid-container{
    //height:auto !important;
}*/

.fc-today{
    background-color: lighten($buttoncolor,45) !important;
}
//assegno una classe con un background diverso a seconda del tipo di evento
.evento_V{
    background-color: #fa573c !important;
}
.evento_T{
    background-color: #f691b2 !important;
}
.evento_E{
     background-color: #4986e7 !important;
}
.evento_P{
     background-color: #16a765 !important;
}

/**TERAPIE*/
md-tabs-content-wrapper{
    padding-top: 10%;
}
/*Legenda*/

.legendmobile{
    display:none;
}

.eV{
    background-color: #fa573c !important;
    display:inline;
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;
    padding:0.3%;
    @include border-radius(5px);
}
.eT{
    background-color: #f691b2 !important;
    display:inline;
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;
    padding:0.3%;
    @include border-radius(5px);
}
.eE{
    background-color: #4986e7 !important;
    display:inline;
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;
    padding:0.3%;
    @include border-radius(5px);
}
.eP{
    background-color: #16a765 !important;
    display:inline;
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;
    padding:0.3%;
    @include border-radius(5px);
}

/*Collapse*/

.panel{
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.05) 
}

.panel-default{
    border-color: $color1 !important;
}

.panel-default > .panel-heading{
    background-color:$color1;
    border-color: $color1 !important;
    color:$post;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.05) !important;
    border:0px solid $color1 !important;
}

.panel-heading {
    margin-left: 17%;
    margin-top: -4.5%;
}

.panel-group .panel-heading + .panel-collapse > .list-group,
 .panel-group .panel-heading + .panel-collapse > .panel-body{
     border-top:0px solid $color1 !important;
 }
.panel-heading-archiaviate{
    margin-left: 0;
    margin-top: 2.5%;
}

/*salvavita*/

.overlay_outer {
    display: table;
    width: 100%;
    height: 100%;
}

.overlay_inner {
    display: table-cell;
    margin: 0 auto;
    vertical-align: middle;
}

.otherbox {
    width: 99%;
}

.boxmmt {
    white-space: normal;
    width: 300px;
    margin: 0 auto;
}

.boxmmt-row {
    padding: 4%;
}

.boxmmt1 {
    background-color: $boxmmtcolor;
    color: $color1;
    font-size: $menusize;
    font-weight: bold;
    white-space: normal;
    border:1px solid $boxmmtcolor;
}

.boxmmt2 {
    background-color: $boxmmtcolor1;
    border:1px solid $boxmmtcolor;
}

.boxmmt3 {
    background-color: $boxmmtcolor2;
    font-size: $wsize;
    color: $boxfontcolor;
    font-weight: bold;
    border:1px solid $boxmmtcolor;
}

/*.boxmmt4 {
    background-color: $boxmmtcolor1;
    font-size: $wsize;
    color: $color1;
    font-weight: bold;
    border:1px solid $boxmmtcolor;
}

.boxmmt5,
#sos_overlay .boxmmt .boxmmt-child:nth-child(even) {
    background-color: $boxmmtcolor2;
    color: $post;
    border:1px solid $boxmmtcolor;
}

.boxmmt6,
#sos_overlay .boxmmt .boxmmt-child:nth-child(odd) {
    background-color: $boxmmtcolor1;
    color: $post;
    border:1px solid $boxmmtcolor;
}*/

#sos_overlay .boxmmt-label {
    text-transform: capitalize;
    font-weight: bold;
}

.textspan{
    font-weight: bold;
}
/*Visualizzazione e modifica*/
.boxmod{
    color:$post;
    white-space: normal;
    margin: 0% 3%;
    padding: 1%;
}

#boxmod0{
    border-top:1px solid $colortab;
    background: lighten($clockcolor,5);
}

/*Clockpicker*/

.btn-default{
    background: $color1 !important;
    color:$post !important;   
}

.btn-default:hover{
    color:$post !important;   
}

.pull-left{
  background: $color !important;
  margin-left:2% !important;
  @include border-radius(50px);
  color:$clockcolor !important;
}

.pull-left:hover{
    color:gray !important;
}

   md-tabs-canvas{
        overflow: visible !important;
    }

/*Dossier*/
.folderstyle{
    width: 55%;
}

.foldername{
    font-size: $usize;
    color:$post;
} 

.titledossier{
    margin: 0px 0px 0 45px;
    text-align: center; 
}

/*Input file-speciale per caricamento dei file*/
.inputfile{
    margin-left:10% !important;
    background:$color1 !important;
    border-bottom: 0 solid $color1 !important;
    margin-left: 7% !important;
}   

.textfiles{
    color:$color;
    display: inline;
    font-weight: bold;
    line-height: 2.5em;
    margin-left: 4.5%;
}

.listfile{
    list-style: none;
    padding-bottom: 3%;
    line-height: 2;
    margin-left: 3%;
}

/*Gruppi*/

.fa-users{
    color: darken($backgroundcolor, 5);
    padding: 0 2% 5% 2%;
    font-size:$wsize !important;
    margin:6px 10px 0px 0px;
}

.textgroup{
    margin:4% 0 0 -11%;
    list-style: none;
}

.textgroup1{
    margin: 1.5% 0 0 7%;
    font-weight: bold; 
}

.md-input-focused1{
    /*margin: -12% 0 -10% 10% !important;*/
    margin:-5% 0 3% 10% !important;
    width: 75% !important;
} 

.form1 {
    margin-bottom: 32%;
    margin-top: 27px;
}

.trash{
    margin-top:10% !important;
}

   .imgmymedtagapp{
        height: 7.7em !important;
        margin: 0 !important;
        width: 7.7em !important;  
        float:none;  
    }

    .boxmmtimg{
        background-color: $boxmmtcolor2;
        border:1px solid $boxmmtcolor;
    }


/*-----------------------Media query---------------------------*/
@media screen and (min-width: 901px) and (max-width: 1024px){

    .col-xs-7 {
    max-width: 70%;
    width: 70%;
    min-width: 50%;
    }

    md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-active:not([disabled]), md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-active:not([disabled]), md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-active:not([disabled]) md-icon, md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-active:not([disabled]) md-icon, md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-focused:not([disabled]), md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-focused:not([disabled]), md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-focused:not([disabled]) md-icon, md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-focused:not([disabled]) md-icon{
        font-size:$ssize;
        /*font-size:$mesize;*/
    }

    md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]),
    md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]){
        font-size:0.80em;
        /*$ssize;*/
    }

    md-icon{
        display:none;
    }

    md-tabs.md-default-theme.md-accent > md-tabs-wrapper, md-tabs.md-accent > md-tabs-wrapper{
        margin-left: 0%;
        width: 100%;
        background:darken($postheader,5) !important;
    }

    md-dialog{
       /* margin-top: -15% !important;*/
        max-width: 95% !important;
        width: 93% !important;
    }


    #show_sidebar {
        margin: 1.5% auto;
        display:none;
    }

    .img-profile-box {
        height: 9em;
        margin: 5% 0 0 1%;
        }

    /*tabs*/
    #profilo md-tabs-wrapper {
        margin-left: 1.5%;
    }
    
    #profilo md-tabs-content-wrapper {
        margin-left: -3%;
        width: 102.8%;
    }

    #helpmymedtag{
        cursor:default; 
        float:right;
    }

    .soslogo-edit {
        float: right;
        margin: -0.5% -2.5% 0 0;
        width: 3.5%;
    }
      .checkprivacy{
        position: absolute !important;
        top: 2% !important;
        height: 39% !important; 
        left: -32% !important;
    }

    input[type="checkbox"] {
        margin-top:-3%;
        left:16%;
        position: absolute !important;
    }

    .tabcheckbox{
        margin-top:-1% !important;
    }

    .md-tab {
        background:darken($postheader,5) !important;
        padding: 12px 18px !important; /*per il problema tabs in firefox*/
        /*float:none in caso non dovesse bastare quello sopra*/
    }

    #profilo md-tabs-wrapper{
        width: 95%;
    }

    md-tabs-wrapper md-prev-button.md-disabled, md-tabs-wrapper md-next-button.md-disabled{
        opacity:0 !important;
    }
    md-tabs-wrapper md-prev-button{
        opacity:0 !important;    
    }

    md-tabs-wrapper md-next-button{
        opacity:0 !important;
    }

    /*mymedtag dialog*/
    .mymedtagdialog{
        /*margin-top: -40% !important;*/
        width: 30% !important;
    }

    .body-box1{
        font-size:$ssize;
    }

    .fa-camera{
        top:66px;
        left:-23px;
    }

    .soslogo {
        float: right;
        margin: -1% -1% 0 0;
        width: 4.5%;
    }
 
    .errorpwd{
        font-size:$err;
    }
}
#notification {
    top: -18%;
    margin-top: 24px;
}
#lifesaver{
    margin-top: 24px;
}

/*Media query*/
@media screen and (min-width: 1025px) and (max-width: 1900px){
    md-dialog {
        width: 90% !important;
        max-width: 100% !important;
    }

    .mymedtagdialog {
        width: 25% !important;
    }

    input[type="checkbox"] {
        top: -3% !important;
        left: -27%;
    }
    .navbarmobile{
        display:none;
    }
    .img-profile-box{
        //height: 22vh;
        margin-bottom: 6%;
        //width: 25%;
    }
    #notification {
        margin-top: 4%;
    }
    #active {
        height: 6vh;
        margin-top: 4%;
    }
    #lifesaver {
        margin-top: 4%;
    }
    .btn1 {
        background-color: #66b72c !important;
        color: #fff !important;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        border: 0px solid transparent !important;
        margin: 0 auto !important;
        /* margin-top: -4% !important; */
        float: right;
        padding: 1%;
    }
    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 0;
        border-radius: 4px;
    }
    .navbarmobile{
        display:none;
    } 
}

// Mobile Version

@media screen and (min-width: 300px) and (max-width: 670px) {

    html, body {
        height: calc(100% - -0.99px) !important;
        min-height: auto !important;
    }

    .col-xs-4{
        display:none !important;
    }

    .menu-laterale{
        display:none !important;
    }

    .col-xs-7 {
        max-width: 100%;
        width: 100%;
    }

    .col-xs-8{
        max-width: 100%;
        width: 100%;
        z-index: 1;
    }

    .nomelogo{
        display:none;
    }

    .menu{
        display:none;
        }

    .fa-list-ul{
       color:white;
    }

    #profile_header{
        display:none !important;
   }
   .user{
       right: none;
       top: 2%;
   }
   #logout i{
        padding-right: 40%;
   }

   .user-box{
       margin-top:2%;
   }

   .imglogo {
        margin-top: 1%;
    }

    .welcome{
        display:none;
    }

    .box {
        margin: 3% 0;
    }

    /*Dialog Modifica/Creazione*/ 
    .h2, h2 {
        font-size: 13px !important;
    }


    .h3, h3 {
        font-size: 14px !important;
    }

    .h4, h4 {
        font-size: 17px !important;
    }

    #sosnotifica {
        margin: 3% -14% 0 0;
        width: 20%;
    }

    select {
        margin-top: 13% !important;
        width: 90%;
    }

    .btnpost {
        left: 40%
    }

    .fa-bell:hover,
    .fa-sign-out:hover,
    .fa-envelope:hover,
    .fa-user:hover,
    .fa-bars:hover,
    .fa-pencil-square:hover{
        color: lighten($buttoncolor,10) !important;
    }


    .mobile .fa-sign-out{
        font-size: $logosize;
        color: $color1;    
    }

    .mobile .fa-sign-out:hover{
        color: $color1 !important;    
    }

    .mobile{
        display: initial;
        position: absolute;   
        /*top: 3%;*/
        z-index: 2;
        left:40%;
        }

    .navbarmobile{
        color: $color1;
        background: transparent;
        border: 0 none;
        font-size: $menumobile;    
    }

    .menumobile {
        margin-top: 2.7%;
        position: relative;
        line-height: 2em;
        box-shadow: 5px 8px 7px darken($backgroundcolor,20);
    }

    md-tooltip.md-default-theme .md-content, md-tooltip .md-content{
        font-size: $ssize;
    }

    md-dialog{
        /*margin-top:-10% !important;*/
        max-width: 90% !important;
        width: 100% !important;
        min-width:60%; 
    }

    .fa-pencil-square{
        margin-top: -7.5%;
    }

    .panel-heading {
        margin-left: 25%;
        margin-top: -10.5%;
    }

    md-tabs-content-wrapper{
        height:95%;
    }

    .trash {
        margin-top: 1% !important;
    }

/*tabs*/
    md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-active:not([disabled]), md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-active:not([disabled]), md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-active:not([disabled]) md-icon, md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-active:not([disabled]) md-icon, md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-focused:not([disabled]), md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-focused:not([disabled]), md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-focused:not([disabled]) md-icon, md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-focused:not([disabled]) md-icon{
      font-size:$mesize;
    }

    md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]),
    md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]){
        font-size:$mesize;
    }

    /*legenda*/

    .md-fab-action-item {
        padding: 1%;
    }

    .md-button.md-fab.md-mini {
        width: 77px !important;
    }

    .folderstyle {
        width: 16%;
    }

    .listgroup {
        text-align: left;
    }

    md-fab-speed-dial.md-right{
        display:none;
    }


    /*dialog*/
    md-dialog .md-dialog-content {
        padding: 6px;
        font-size: $ssize !important;
    }

    /*form login-password-registrazione*/
    md-input-container label:not(.md-no-float):not(.md-container-ignore), md-input-container .md-placeholder{
        font-size:$ssize !important;
    }

    .legendmobile {
        display: table;
    }

    .ev_V{
        color: #fa573c !important;
    }

    .ev_T{
        color: #f691b2 !important;
    }

    .ev_E{
        color: #4986e7 !important;
    }
    .ev_P{
        color: #16a765 !important;
    }

    .errorpwd1{
        display:none;
    }

   .checkprivacy {
        position: absolute;
        left: 5% !important;
    }
    .panel-title {
        margin-top: -4%;
        margin-left:12%;
    }
    .btnmargin{
        margin-bottom: 7% !important;
    }

    .btnmymedtag{
        width:50%;
    }
    /*immagine del profilo nel salvavita*/


    .imgmymedtag{
        width: 20%;
        height: 6em;
    }

    .mymedtagdialog{
        width: 35% !important;
    }

    .imgmymedtagapp{
        height: 7.7em !important;
        margin: 0 !important;
        width: 7.7em !important;
        float:none;
    }

    .boxmmtimg{
        background-color: $boxmmtcolor2;
        border:1px solid $boxmmtcolor;
    }
    .modal {
         left: 0 !important;
         right: 0 !important;
         top: 0 !important;
    }
    .post-footer .btnpost{
        left: 80% !important;
    }
    .post-footer md-select{
        margin-top: 0px !important;
    }
    /**DOSSIER */
    .body-box .row{
        margin-left: 0px;
        padding-left: 0px;
    }
    .listgroup .fa-plus-circle{
        padding-left: 6% !important;
    }
    .titledossier {
        margin: 0px 0px 0 22%;
        text-align: center;
    }
    .modal-backdrop.in {
        filter: null;
        opacity: 0;
    }
    .modal-backdrop {
        position: static !important;
    }
    #usermsg{
        width: 78.5% !important;
    }
    #newregister form div{
        font-size: 67%;
    }
    .login1{
        margin-left: 4%;
    }

    /**TABELLA GESTIONE OSPITI*/
    #table{
        font-size: 67%;
    }
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        text-align: center;
        padding: -1px;
    }
    .spanclassing{
        margin-left: -2%;
        font-size: 74%;
    }
    .container-search_guest{
        margin-top: 5%;
    }
    .search_guest{
        margin-right: 9% !important;
        margin-top: -1% !important;

    }
    .members .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        text-align: center;
        padding: 0;
    }
    .md_content_members{
        padding-left: 0px;
    }
    .md_content_members .pagination{
        margin-top: -2;
        margin-top: -1%;
    }
    .allarmi{
        width: 107%;
        margin-left: -4%;
        padding-left: 1%;
    }
    .allarmi .spanclassing{
        margin-left: -2%;
        font-size: 100%;
    }
    .table_allarmi{
        padding-left: 0px;
    }
    .table_allarmi .btnallarmi{
        margin-top: -8% !important;
        padding-right: 2%;
        margin-right: 1%;
    }
    .fa-camera {
        font-size: 1.2em !important;
        color: #e6e6e6;
        position: relative;
        left: 1vh;
        top: 9vh;
        cursor: pointer;
    }
    .img-profile-box {
        float: left;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        height: 6em;
        margin: 2% 0 0 1%;
        width: 40%;
    }/*
    #notification {
        bottom: 0;
        left: 93px;
        margin-bottom: 0;
        margin-top: 0.6%;
        padding-bottom: 34px;
        right: 0;
        top: 14px;
        width: 0;
    }*/
    .btn1 {
        margin-top: 7% !important;
    }
    .container_table_users {
        top: 25px;
        background-color: #fff;
        height: 100%;
        padding: 1% 0;
        width: 43.9em;
        text-align: center;
    }

}



@media screen and (min-width: 680px) and (max-width: 900px) {

    .navbarmobile {
        display:none;
    }
    .btnpost{
        margin-left: -5%;
    }
    .user{
        display:block !important;
    }
    .panel-heading {
        margin-top: -6.5% !important;
    }

    .therapybtn {
        margin: 3% -4% 0 -10% !important;
    }

     .mymedtagdialog{
        width: 35% !important;
    }
    .fa-camera {
        font-size: 1.2em !important;
        color: #e6e6e6;
        position: relative;
        left: 1vh;
        top: 9vh;
        cursor: pointer;
    }
    .img-profile-box {
        float: left;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        height: 6em;
        margin: 2% 0 0 1%;
        width: 40%;
    }
}

@media screen and (min-width: 901px) and (max-width: 1280px){

    #editingressi .tabcheckbox-edit{
        margin: -13% 88% !important;
        position: relative !important;
        width: 4% !important;
        /*width perchè il checkbox è all'interno della classe md-input-container che ha un 
        width:85% - questo per evitare che crei lo scroll.
        overflow-x:hidden non va bene in questo caso*/
    }
    
}


.menu_utenti{
    float: left;
    width: 6em;
    margin-left: 9px !important;
}
//ADMIN style
.container_table_users{
    top: 25px;
    background-color: #fff;
    height: 100%;
    padding: 1% 0;
    width: 81.5em;
    text-align: center;
}
.table th{
    text-align: center;
}
#modal_detail{
    max-height: 80%;
    max-width: 80%;
    min-width: 240px;
}
.DetailUser md-tab-content{
    left: 3%;
}
.fa-sign-out, .fa-envelope, .fa-bell{
    color: white;
}

md-autocomplete{
    width: 90% !important;
}

.allergystyle{
    margin-top:0% !important;
}

.spanclassing{
    background-color: white !important;
    font-weight: bold;
    color:$post;
    padding-bottom:2%;
    margin-left:0.5%;
}

.ulclass{
    font-size: 1em;
    list-style-type: none;
    margin: 0% 0% 0% -4.5%;
}    

.btnlista{
    background-color:transparent;
    border:0px solid transparent;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th{
    text-align: center;
    padding:12px;
}

.emailtable{
    font-style: italic;

}

.fa-chevron-circle-left{
    font-size: 1.4em !important;
    float:right;
}

#editingressi .tabcheckbox{
    margin: -5% 5% !important;
    position: relative !important;
}

#editingressi .tabcheckbox-edit{
    margin: -13% 98% !important;
    position: relative !important;
    width: 4% !important;
    /*width perchè il checkbox è all'interno della classe md-input-container che ha un 
    width:85% - questo per evitare che crei lo scroll.
    overflow-x:hidden non va bene in questo caso*/
}


.md-inline-form md-switch {
    margin-top: -3%;
    margin-bottom: 5%;
    margin-left: 24% !important;
}

md-switch.md-default-theme.md-checked.md-primary .md-thumb, md-switch.md-checked.md-primary .md-thumb {
    background-color: lighten($color,10);
}

md-switch.md-default-theme.md-checked.md-primary .md-bar, md-switch.md-checked.md-primary .md-bar {
    background-color: $color;
}


#editingressi md-checkbox:last-of-type {
    margin-left: 89%;
    margin-right: 0px;
}

#editingressi md-checkbox.md-align-top-left > div.md-container {
    top:5%;
    /*top: -36px;*/
}


#editingressi md-checkbox.md-align-top-right > div.md-container {
    top: 7px;
    left: -200px !important;
}

#editingressi .soslogo-edit {
    margin: -0.5% 1.5% 0 0;
    width: 4.5%;
}

md-checkbox.md-checked.green .md-icon {
    background-color:darken($buttoncolor,10);
}

.layout-padding{
    background-color: white;
}

#tablestrutture th,
#tablestrutture td{
    text-align: left !important;
}

.noerror{
    font-style: italic;
    margin-left:1%;
}

/*TODO
sistemare lo stile delle check nel profilo utente*/

md-checkbox:last-of-type {
    margin-left: 89%;
    margin-right: 0px;
}

md-checkbox.md-align-top-left > div.md-container {
    top: 2.5%;
}


md-checkbox.md-align-top-right > div.md-container {
    //top: 7px;
    //left: -200px !important;
    left: -2047% !important;
    top: 7px;
}

.col-lg-12{
    width: 100%;
    margin-top:3%;
}

.md-inline-form md-checkbox {
    margin: 0;
}


md-tab {
    position: initial !important;
}

.sharewith{
    margin: 4% 0% 0% 4%;
}


.inputnascita{
    margin-top:5%;
}

._md-datepicker-floating-label > md-datepicker .md-datepicker-button {
    float: left;
    margin-top: -2.5px;
    margin-top: 2% !important;
}

._md-datepicker-floating-label > md-datepicker .md-datepicker-input-container {
    border: none;
    margin-top: 2% !important;
}

.menu_utenti{
    margin-left: 9px !important;
    width: 6em;
  }
  .mmb_selected{
    border-bottom: 2px solid #0e388c !important;
  }


/* mymedlist scelta dispositivo*/
  .md-select-menu-container{
      z-index: 1100;
      margin-left: 1%;
  }

  md-optgroup label{
      padding:0px;
  }

  /* footer del reset password*/
  .lfooter1{
    background-color: $postheader;
    color: $colorstar;
    text-align: center;
    margin: 20px 0px 0px;
    padding:1%;
    }

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    min-height: 100vh;
}
/* .md-dialog-content .generalinfo-profile li{
    height:0;
} */
#inputDialog{
    top: -55px;
}
/*Bacheca - label per la condivisione dei gruppi*/
    /*#label_gruppi{
        position:initial;

    }*/
    #editprofile label{
        margin:1.5em 0 0 0 !important;
    }
    
    #editprofile md-select{
        margin: 0px !important;
    }
    #editprifile md-input-container{
        margin-bottom: -1em !important;
    }
    #editprofile md-checkbox{
        margin-bottom:0 !important;
    }
    #editprofile #sex{
        width: 14.5em;
    }
    
    #editprofile #circle md-select-value{
        left: -5.5em;
        top: 6em;
    }
    #editprofile .soslogo-edit{
        margin-top: -1.5em;
    }
    #editprofile .check-salvavita{
        /*top: 0.5em;*/
    }
    #editprofile .label-date-with-check{
        margin-bottom: 4em !important;
        text-decoration: underline;
    }
    
    /*dialog creazione gruppi*/
    #inputDialog .multi_input_dialog{
        height: 4em;
        margin: 0 !important;
    }
    #inputDialog .multi_input_dialog label{
        margin:1em 0 0 0 !important;
    }
    .date_with_checkbox{
        top: -2em !important;
    }
    
    .date_with_checkbox {
        top: -2em !important;
        margin-left: 15em !important;
    }
    
    .date_with_checkbox .md-container.md-ink-ripple {
        left: 0 !important;
    }
    
    .datecheck{
        margin-left: 20em;
        top: -3em;
        position: relative;
    }
    
    .check-salvavita{
    /*    top: 12em;*/
        position: absolute;
        margin-left: 0 !important;
        margin-right: 8em !important;
        right: 0 !important;
        margin-top: 4em;
    }
    #editprofile md-checkbox:last-of-type {
        margin-left: 70em;
        margin-right: 0;
    }

    .md-input-COC-Select{
        display: inline !important;
        margin: 0 !important;
        width: 0 !important;
    }

    .md-input-COC-Select md-select{
        padding-top: 8px;
        width: 15%;
    }
    .md-input-COC-Select md-select-value{
        top:0 !important;
        left:0 !important;
    }

