<div class="user-box" ng-init="load()">
  <div class="header-box"> Cambio password</div>
  <div class="body-box">
    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
      <div align="center">
         <md-input-container>
          <label>Attuale Password</label>
          <input ng-model="old_password" type="password" md-minlength="8" required placeholder="Attuale Password">
        </md-input-container>
        <md-input-container>
          <label>Nuova Password</label>
          <input ng-model="new_password" type="password" md-minlength="8" required placeholder="Nuova Password">
        </md-input-container>
        <md-input-container>
          <label>Conferma nuova Password</label>
          <input ng-model="password_repeated" type="password" md-minlength="8" required placeholder="Nuova Password">
        </md-input-container>
      </div>
    </md-content>
  </div>
  <div class="footer-box">
    <button class="btn" title="crea un nuovo dossier" ng-click="changePassword()" ng-disabled="!old_password && !new_password && !password_repeated">Invia</button>
  </div>
</div>