<md-dialog aria-label="CreaModifica" id="inputDialog">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Dettaglio di {{profile.first_name}} {{profile.last_name}}</h2>
        <!--tooltip-->
        <md-button aria-label="" style="cursor:default">
          <md-icon class="fa fa-question-circle"></md-icon>
          <md-tooltip md-direction="bottom">
            <span>Da qui puoi prendere visione delle informazioni personali di un ospite.<br />
                Una volta terminato, clicca su "Salva".
            </span>
          </md-tooltip>
        </md-button>
        <!--tooltip-->
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="fa fa-times" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="error" ng-show="!mymedtag.attributes_groups || mymedtag.attributes_groups.length<0">
          Ricordati di compilare le informazioni salvavita
        </div>
        <div class="divmtmedtag" ng-show="mymedtag.attributes_groups.length>=0" ng-click="showDialogSalvavita($event)">
          Visualizza il salvavita <img id="sos" src="images/sos.png" title="MyMedTag" hspace="10" style="width: 4%;">
        </div>
        <div class="body-box1">
          <div>
            <div id="mod_containergeneral" class="w3-container tab_mod">
              <form name="submit" id="form" action="javascript:;">
                <div id="tabContainer" ng-cloak>
                  <md-content id="editprofile" class="md-padding">
                    <md-tabs md-dynamic-height md-border-bottom class="md-accent" md-align-tabs="{{'top'}}" md-stretch-tabs="always" md-selected="0">
                      <ng-include id="view_profile" class="profileDetail" src="'templates/view_profile.html'"></ng-include>
                      <ng-include id="view_attributes" class="profileDetail" src="'templates/view_attributes.html'"></ng-include>
                      <ng-include id="view_COC" class="profileDetail" src="'teleassistenza/view_COC.html'"></ng-include>
                    </md-tabs>
                  </md-content>
                </div>
                <div class="footer-box1">
                  <input class="btn" type="submit" id="submit" value="Modifica" ng-click="showEditProfile($event, profile, attributeValues);" />
                </div>
              </form>
            </div>
          </div>
        </div>
    </md-dialog-content>
  </form>
</md-dialog>