  <h2>Manleva</h2>
  <p>Il contenuto fornito da MYMEDBOOK &egrave; a solo scopo informativo.</p>
  <p>MYMEDBOOK non &egrave; un dispositivo medico. Non fornisce <br> i) una diagnosi medica n&eacute;<br> ii) il consiglio del medico.<br>    Le informazioni fornite da MYMEDBOOK non devono essere considerate come un sostituto alla consulenza da parte di un medico,
    uno specialista o altri operatori sanitari.<br> MEDBOOK srl declina ogni responsabilit&agrave; per i danni che potrebbero derivare
    o essere relativi a in qualsiasi modo dal comportamento imprudente degli utenti; MEDBOOK srl si rifiuta di riconoscere
    eventuali danni derivanti dal rispetto e / o nessuno osservanza delle informazioni fornite dalle app di MYMEDBOOK (MYMEDTAG);
    n&eacute; danni derivanti dall'uso improprio e / o malfunzionamenti accidentali delle app di MYMEDBOOK e / o malfunzionamenti
    accidentali della connessione di rete.
  </p>

  <h2>Privacy</h2>
  <p style='font:bold'>Informativa sul trattamento dei dati personali in conformit&agrave; al regolamento (UE) 2016/679 del Parlamento europeo e del
    Consiglio del 27 aprile 2016 - MYMEDBOOK</p>
  <h3>Titolare del trattamento</h3>
  <p>Questa Policy regola i termini e le condizioni sulla privacy per cui MEDBOOK srl (il "Titolare") - che si trova a Pisa,
    Piazza Guerrazzi, 9 56125 PISA (PI) ITALIA, Partita IVA 02223960507 - raccoglie, analizza e tutela i diritti delle persone
    interessate in relazione alle informazioni raccolte dalle app di MYMEDBOOK. Il Titolare raccoglier&agrave; elettronicamente
    i dati personali al fine di fornire il servizio fornito dalle app di MYMEDBOOK.<br> Il servizio MYMEDBOOK viene fornito
    attraverso l'applicazione MYMEDTAG che mostra sullo schermo di uno smartphone le azioni da fare quando il proprietario
    di un sensore NFC MYMEDTAG ha bisogno di aiuto. </p>
  <h3>Dati personali trattati </h3>
  <p>MYMEDBOOK raccoglie i seguenti dati personali: data di nascita, sesso, altezza, peso e altre informazioni riguardanti la
    salute. <br> I dati personali saranno trattati dal Titolare, una volta ottenuto il consenso informato dalla persona interessata.<br>    Dati personali anonimi potrebbero essere raccolti e utilizzati per scopi di analisi statistica. Per esempio, i dati della
    persona interessata potrebbe essere utilizzati come dati pseudonimizzati per identificare lo stile di vita. Questi risultati
    potrebbero essere resi disponibili a terze parti autonome, come ad esempio le aziende farmaceutiche o di cosmetici, per
    lo sviluppo di programmi di ricerca e strategie commerciali. I dati pseudonimizzati assicurano che non sar&agrave; possibile
    la ri-identificazione della persona. <br> Con il consenso della persona interessata, i dati personali (elaborati durante
    l'uso delle app) possono essere soggetti ad un controllo incrociato e analizzati a fini di profilazione del cliente in
    base al Regolamento Europeo 2016/679. <br>
    <h3>Finalit&agrave; del trattamento</h3>
    <p>Utilizzando le app di MYMEDBOOK le persone interessate devono fornire il proprio consenso per condividere i dati. Il
      titolare potrebbe condividere i dati del profilo con terzi, partner commerciali come ad esempio Aziende Farmaceutiche.
      <br> I dati personali raccolti da MEDBOOK srl non saranno condivisi con terze parti a fini di marketing diretto.<br>      I dati personali sono memorizzati su un server che si trova a Pisa (c/o il Data Center di Devitalia srl in via Del
      Mare , 31 - Migliarino Pisano).<br> Le informazioni raccolte per il profilo della persona interessata sar&agrave; trattenuto
      per tutto il tempo che &egrave; necessario per fornire al soggetto il servizio MYMEDBOOK. Il tempo di ritenzione terr&agrave; conto
      del normale carico di lavoro della societ&agrave;; fiscali e contabili delle responsabilit&agrave;; tutti i compiti / responsabilit&agrave;
      in relazione alla decennale tenuta di scritture contrattuali ai sensi del Codice civile italiano; e per i lavori relativi
      ad ogni possibile contenzioso. </p>

    <h3>Ambito di circolazione dei dati personali</h3>
    <p>I dati personali saranno trattati dai responsabili IT (o amministrativi) nominati dal Titolare.<br> Inoltre, a seconda
      delle esigenze e riducendo al minimo gli accessi, i dati personali potranno essere trattati anche da avvocati e / o
      l'autorit&agrave; giudiziaria in caso di difesa nel processo per gli abusi nell'utilizzo delle app. <br> Dr. Antonio Mancini,
      presidente di MEDBOOK SRL, ha la responsabilit&agrave; per il trattamento dei dati personali. L'elenco completo dei responsabili
      nominati per il trattamento dei dati personali &egrave; disponibile, su richiesta, presso il Titolare all'indirizzo e-mail
      <a href="mailto:privacy@mymedbook.it">privacy@mymedbook.it</a>.
    </p>

    <h3>Dati di navigazione</h3>
    <p>Il Titolare pu&ograve; raccogliere informazioni di identificazione non personali degli utenti ogni volta che interagiscono con
      la propria app. Non sono raccolte per identificare gli individui, ma pu&ograve; farlo attraverso elaborazioni ed associazioni
      con dati appartenenti a terzi .<br> Le informazioni di identificazione non personale possono comprendere: gli indirizzi
      IP ei nomi di dominio dei dispositivi utente di collegamento per l'applicazione; URI (Uniform Resource Identifier);
      l'orario della richiesta; il metodo utilizzato nel sottoporre la richiesta al server; file di dimensioni; il codice
      numerico indicante lo stato della risposta data dal server (buon fine, errore, ecc) ed altri parametri relativi al
      sistema operativo e all'ambiente informatico dell'utente. <br> Questi dati vengono utilizzati al solo fine di ricavare
      informazioni statistiche anonime sull'uso delle app e per controllarne il corretto funzionamento. I dati potrebbero
      essere utilizzati per l'accertamento di responsabilit&agrave; in caso di ipotetici reati informatici contro l'applicazione.<br>
    </p>
    <h3>Cookies</h3>
    <p>Le nostre applicazioni potrebbero utilizzare "cookies" per migliorare l'esperienza utente. I cookies sono piccoli frammenti
      di testo che vengono scaricati sul computer o sul dispositivo mobile. Il tuo browser invia questi cookies alla applicazione
      ogni volta che si visita, in modo che possa riconosce voi e le vostre preferenze e consentire un utilizzo pi&ugrave; agevole
      e pi&ugrave; efficiente delle app. <br> In alcuni casi, solo se &egrave; stato dato il consenso della persona interessata, i cookie
      possono provenire da terzi per scopi pubblicitari o dei media. <br> Cookies possono essere temporanei (eliminati quando
      termina il collegamento) o permanente (rimanendo salvato nel disco rigido del dispositivo dell'utente, a meno direttamente
      soppresso direttamente dall'utente). <br> L'Autorit&agrave; italiana per la protezione dei dati ha pubblicato le linee guida
      sul informare gli utenti sui utilizzo dei cookie. Queste linee guida comprendono anche i requisiti dei Banner. <br>      Agli utenti di MYMEDBOOK viene mostrato un messaggio su Banner durante la connessione al sito e / o quando si installa
      l'applicazione.
      <br> In linea con queste linee guida i cookie utilizzati nelle app e sito web sono:<br> 1) cookies tecnici.<br> Questi
      sono necessarie per il buon funzionamento del sito / app e / o per la fornitura di un servizio esplicitamente richiesto
      dall'Utente. In questa categoria di cookies sono incluse le analisi utilizzati dal Titolare per raccogliere informazioni,
      in forma aggregata, sul numero di utenti e sulle caratteristiche dei loro visita al sito stesso. Il consenso della
      persona non &egrave; richiesto per i cookie tecnici - tuttavia, l'interessato pu&ograve; rifiutare il consenso per uno o per tutti:<br>      
      <p>elenco cookies tecnici:</p> 
      1.profilo utente<br>
      2. account di registrazione
      <p>In linea con la politica aziendale che prevede il massimo rispetto della tutela della PRIVACY, MYMEDBOOK non utilizza:
        <br> a) "Profiling cookies". Questi sono utilizzati dal Titolare o partner terzi. Questi sono usati per creare i
        profili utente e per inviare messaggi pubblicitari mirati basati su propri preferenze della persona interessata.
        In questo caso &egrave; necessario il consenso della persona. <br> b) i cookie di terze parti. Questi sono i cookie installati
        nel sito / app da parte di terzi. Il titolare fornisce i link che dirigono la persona interessata agli avvisi informativi
        e moduli di consenso forniti da terzi. L'interessato dar&agrave; o meno il proprio consenso direttamente al terzo. <br>        c) i cookies profiling non tecnico.
      </p>

      <p>
        Le informazioni fornite dal titolare dei dati e conservati nei sistemi informatici del Titolare (anche attraverso l'utilizzo
        di cookie) possono essere oggetto di un controllo incrociato con altre informazioni ottenute dal Titolare. Questo
        &egrave; per uso analitico e profilatura e tutte le informazioni sono pseudonimizzate.<br> Se si desidera ricevere
        o rivedere i dati personali in nostro possesso, o per registrare un reclamo, inviare un'e-mail a <a href="mailto:privacy@mymedbook.it">privacy@mymedbook.it</a>.
        <br> L'utilizzo di ulteriori cookie permanenti e cookie di sessione (che non vengono memorizzati in modo persistente
        sul dispositivo dell'utente e svaniscono quando la chiusura del browser) &egrave; strettamente limitato alla trasmissione
        di identificativi di sessione (costituiti da numeri casuali generati dal server) che sono necessari per consentire
        l'esplorazione sicura ed efficiente nei siti web e / o le applicazioni. I cd cookies di sessione evitano il ricorso
        ad altre tecniche informatiche possibilmente dannosa per la riservatezza della navigazione della persona interessata
        e che non consentono l'acquisizione di dati personali identificativi della persona interessata. <br>
        <h3>Diritti delle persone interessate </h3>
        <p>
          Ai sensi dell'art. 15 del Regolamento UE 2016/679, la persona interessata ha in ogni momento il diritto di ottenere la conferma
          dell'esistenza dei medesimi dati e di conoscerne il contenuto specifico, conoscere le finalit&agrave; del trattamento,
          le categorie di dati personali in questione, i destinatari o categorie di destinatari ai quali sono stati o saranno
          descritti i dati personali, ove possibile, il periodo previsto per il quale i dati personali saranno memorizzati,
          o, se non possibile, i criteri utilizzati per determinare tale periodo, per verificarne la esattezza o chiederne
          l'integrazione / aggiornamento, oppure la rettificazione. Inoltre l'interessato ha il diritto di chiedere la cancellazione,
          la trasformazione in forma pseudonimizzata, il ​​diritto di presentare una denuncia presso l'autorit&agrave; di vigilanza.
          Le richieste devono essere presentate al Titolare all'indirizzo di posta elettronica <a href="mailto:privacy@mymedbook.it">privacy@mymedbook.it</a>.
          <!--  <br> 1. l'informativa &egrave; stata letta e compresa.
          <br> 2. Cookies <br> Questa applicazione utilizza i cookie e altre tecnologie, con lo scopo di raccogliere informazioni
          sulle interazioni della persona interessata con le app. Lo scopo &egrave; quello di fornire dati analitici che consente
          a MYMEDBOOK di creare profili e contenuti su misura. Il titolare pu&ograve; trasferire queste informazioni a terze parti
          selezionate. </p>
        </br>
        Continuando a utilizzare questa applicazione si sta fornendo il suo consenso espresso per l'utilizzo di cookie e altre tecnologie
        di profilazione.<br>
        <br /> 3. Geolocalizzazione<br> Gentile utente, MYMEDBOOK ha bisogno del tuo consenso al dati di localizzazione.
        <br /> 4. Terzi Marketing<br> Consenso al trasferimento dei miei dati, in forma anonima A TERZI partner di MEDBOOK
        srl. (ad esempio farmacie o le aziende cosmetiche) con fini di ricerca scientifica.<br>
        <br /-->
      </p>
    </p>
