<!--Lista affiliazione-->
<div class="body-box" ng-init="init()" ng-show="tab=='listautenti'">
    <div class="form-group container-search_guest">
        <input type="text" class="form-control search_guest" placeholder="Search" ng-model="text_guest" ng-change="searchGuest()"
            style="float: right; width: 24%; margin-right: 10%; margin-top: 2%; margin-left: -33%;">
    </div>
    <!--<button class="btn1" style="float: right;" title="Download PDF" ng-click="generatePDF()">
        <i class="fa fa-download" aria-hidden="true"></i>
    </button>-->
    <div nlayout="column" class="md-inline-form">
        <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
            <span class="spanclassing">Lista utenti affiliati alla struttura scelta</span>
            <div>
                <!-- Table starts here -->
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Nome Affiliato</th>
                            <th>Tag Struttura</th>
                            <th>Seriale</th>
                            <th ng-show="checkRolesStructures(profile.groups[0].name, 'actionAffiliatiCOC')">Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users">
                            <td data-title="Nome Affiliato" ng-click="openDetailCOC(user.pk, $event)">
                                {{user.first_name}} {{user.last_name}}<br/>
                                <span class="emailtable">{{user.email}}</span>
                            </td>
                            <td data-title="Tag Struttura">
                                <button class="btnlista" title="Vedi tag" ng-click="modalMMT(user)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            </td>
                            <td data-title="Seriale" ng-if="struct_affiliation.structure.pk==structure_id" ng-repeat="struct_affiliation in user.structureaffiliation_set">
                                <button class="btnlista" title="Vedi seriali" ng-click="modalSerials(user.pk)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            </td>
                            <!--<td data-title="Termine validità" ng-if="struct_affiliation.structure.pk==structure_id" ng-repeat="struct_affiliation in user.structureaffiliation_set">
                                <span ng-repeat="serial in struct_affiliation.serial_set"><span ng-if="serial.active==true" >{{serial.validity || '-'}}</span></span>
                            </td>-->
                            <td data-title="Azioni" ng-show="checkRolesStructures(profile.groups[0].name, 'actionAffiliatiCOC')">
                                <button class="btnlista" title="Registra uscita" ng-click="showConfirmOut(user)"><i class="fa fa-external-link" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </md-content>
        <ul class="pagination">
            <li ng-click="loadPrevious()" ng-class="currentPage>=2 ? 'paginate_button previous' : 'paginate_button previous disabled'">
                <a href="">«</a>
            </li>
            <li ng-repeat="p in range(1,total_page)" id="range_{{p}}" ng-class="currentPage==(p) ? 'paginate_button active': 'paginate_button'"
                ng-click="gotoPage(p)"><a href="">{{p}}</a></li>
            <li ng-click="loadNext()" ng-class="currentPage <= total_page-1 ? 'paginate_button next' : 'paginate_button next disabled'">
                <a href="">»</a>
            </li>
        </ul>
        <button class="btn1" title="Aggiungi nuovo affiliato" ng-click="newGuest()"><i class="fa fa-plus" aria-hidden="true"></i>Aggiungi Nuovo</button>
    </div>
</div>

<!--Affiliato COC-->
<div class="body-box" ng-init="user_id=''" ng-show="tab == 'adduser'">
    <div nlayout="column" class="md-inline-form">
        <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
            <span class="spanclassing">Affiliato</span>
            <md-icon class="fa fa-chevron-circle-left" ng-click="tab = 'listautenti'; email=''" aria-hidden="true" title="Indietro"></md-icon>
            <div>
                <md-input-container>
                    <label>Email</label>
                    <input ng-model="email" type="email">
                </md-input-container>
            </div>
        </md-content>
    </div>
    <button class="btn" title="verifica affiliato" ng-disabled="!email" ng-click="verifyGuest()">Verifica Utente</button>
</div>
<div class="user-box" ng-show="tab == 'registration' ">
    <div class="header-box"> Nuova registrazione
        <md-button aria-label="" style="cursor:default">
            <md-icon class="fa fa-question-circle"></md-icon>
            <md-tooltip md-direction="bottom">
                <span>
                    Qui puoi registrare un nuovo affiliato all'interno della struttura di riferimento.
                </span>
            </md-tooltip>
        </md-button>
        <md-icon class="fa fa-chevron-circle-left" ng-click="tab = 'listautenti'; email=''" aria-hidden="true" title="Indietro"></md-icon>
    </div>
    <div class="body-box">
        <ng-include class="ingressiinclude" src="'teleassistenza/registrationAffiliationCOC.html'"></ng-include>
    </div>
</div>

<!--VISUALIZZAZIONE SERIALI-->
<div id="modal_serialsCOC" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                <h4 class="modal-title">Seriali</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <table id="table" class="table table-hover table-mc-light-blue">
                                        <thead>
                                            <tr>
                                                <th>Seriale</th>
                                                <th>Data inizio validità</th>
                                                <th>Data termine validità</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="serial in serials">
                                                <td data-title="Seriale">{{serial.serial || '-'}}</td>
                                                <td data-title="Data inizio validità">{{serial.start_date_validation || '-'}}</td>
                                                <td data-title="Data fine validità">{{serial.end_date_validation || '-'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <button class="btn1" title="Aggiungi nuovo seriale" ng-click="newSerial()"><i class="fa fa-plus" aria-hidden="true"></i>Aggiungi Nuovo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .md-datepicker-calendar-pane {
        z-index: 999999 !important;
    }

    ._md-datepicker-floating-label label {
        padding-bottom: 15px;
    }

    .footer-box1 {
        margin-top: 20px;
    }

    .autocomplete ul {
        overflow-y: auto;
        padding-left: 0;
        z-index: 10;
        max-height: 40vh;
    }
    .autocomplete input {
        font-size: 1em;
    }

    .autocomplete li {
        border-bottom: 1px solid grey;
        padding-bottom: 15px;
        padding-top: 15px;
        padding-left: 15px;
    }
</style>
<!--MODALE AGGIUNTA SERIALE-->
<div id="modal_add_serial" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="closeModalAddSerial()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                <h4 class="modal-title">aggiungi un nuovo seriale</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="panel panel-default" ng-init="initSerials()">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <md-input-container>
                                        <label>Seriale</label>
                                        <autocomplete ng-model="model['serial']" data="allSerials" on-type="Serials" attr-placeholder="Scegli un seriale..."></autocomplete>
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Data inizio validità</label>
                                        <md-datepicker class="inputnascita" ng-model="model['start_date_validation']" ng-required="item.required" ng-keydown="disableKey($event)"></md-datepicker>
                                    </md-input-container>
                                    <div class="footer-box1">
                                        <input class="btn" type="submit" id="submit" value="Salva" ng-click="editSerial(structureaffiliation, tag_id)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--VISUALIZZAZIONE MMTCODE-->
<div id="modal_MMTCOC" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                <h4 class="modal-title">MyMedTagCode</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <table id="table" class="table table-hover table-mc-light-blue">
                                        <thead>
                                            <tr>
                                                <th>Code</th>
                                                <th>Struttura</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="mymedtag in usercodes">
                                                <td data-title="Code">{{mymedtag.code || '-'}}</td>
                                                <td data-title="Struttura">{{mymedtag.structure_affiliation.structure.name || '-'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <button class="btn1" title="Aggiungi nuovo MuMedTag" ng-click="modalChangeMMT()"><i class="fa fa-plus" aria-hidden="true"></i>Aggiungi Nuovo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MODALE AGGIUNTA SERIALE-->
<div id="modal_change_tag" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                <h4 class="modal-title">Cambia o aggiungi un nuovo mymedtag relativo alla struttura</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <md-input-container>
                                        <label>MyMedTagCode</label>
                                        <input ng-model="code_new" type="text">
                                    </md-input-container>
                                    <div class="footer-box1">
                                        <input class="btn" type="submit" id="submit" value="Salva" ng-click="editMMTC(structureaffiliation, tag_id)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>